.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange ;
}
.title {
  color: white;
  font-size: 3rem;
  text-align: left; 
  padding: 20px;
}

.modal-content {
  background: white;
  padding: 70px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
  color: black;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}
.form-group input{
  border-radius: 5px;
  border: 1px solid orange;
  width: 300px;
  height: 30px;
  text-indent: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-footer {
  margin-top: 15px;
  text-align: center;
}
